@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}
@using (Html.BeginForm())
{
	<h1 class="text-danger">Error.</h1>
	<h2 class="text-danger">An error occurred while processing your request.</h2>

	@if (Model.ShowRequestId)
	{
		<p>
			<strong>Request ID:</strong> <code>@Model.RequestId</code>
		</p>
	}

	<button class="btn btn-danger" type="submit">Notify Developers</button>
}



