<div id="dashContainer">
	<div style="text-align:center; height:300px;">
		<div class="col-md-5" style="">
			<canvas style="width: 200px;" id="canvas"></canvas>
		</div>
		<div class="col-md-7">
			<div class="col-md-6">
				<canvas id="chart-pie1"></canvas>
			</div>
			<div class="col-md-6">
				<canvas id="chart-pie2"></canvas>
			</div>
			<div class="col-md-12" style="padding:50px 10px; text-align:left;">
				<div class="col-md-3">
					<div>Trainings This month</div>
					<div style="font-size:30px;color:#f10055">7</div>
				</div>
				<div class="col-md-3">
					<div>Trainings This week</div>
					<div style="font-size:30px;color:#ffd800">3</div>
				</div>
				<div class="col-md-3">
					<div>Sessions This month</div>
					<div style="font-size:30px;color:#f10055">15</div>
				</div>
				<div class="col-md-3">
					<div>Sessions This week</div>
					<div style="font-size:30px;color:#ffd800">6</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
</div>
